body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

[role="main"] {
    padding-top: 100px; /* Space for fixed navbar */
}

/*canvas {
  background-color: blue;
  width: 100%;
  height: auto;
}*/
