body {
  font-size: .875rem;
}

.feather {
  width: 18px;
  height: 18px;
  /*vertical-align: middle;*/
  vertical-align: text-bottom;
}

[role="main"] {
    padding-top: 64px; /* Space for fixed navbar */
}
/*
.card {
  border: none;
}
*/
#chart-filter {
  max-width:750px;
  margin-top:1rem;
}
